/*!
 * text.less
 *
 * Copyright 2016 Achraf Chouk
 * Achraf Chouk (https://github.com/crewstyle)
 */

.dionysos-field.text {
    align-items: center;
    display: flex;

    .text-prepend, .text-append {
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
        z-index: 0;
    }

    input {
        z-index: 1;
    }

    &.number {
        align-items: stretch;

        .text-prepend, .text-append {
            background: #f9f9f9;
            border: 1px solid #ddd;
            line-height: 28px;
        }

        .text-prepend {
            border-radius: 3px 0 0 3px;
            border-right-width: 0;
            margin-right: -2px;
        }

        .text-append {
            border-left-width: 0;
            border-radius: 0 3px 3px 0;
            margin-left: -2px;
        }
    }

    &.range {
        input[type="number"] {
            margin: 0 0 0 5px;
        }
    }
}
